.form-contact {
  
  input, textarea {
    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }
  }

  .flex{
    display: flex;
    .input-group-prepend{
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-right: 20px;
      color: #fff;
    }
  }

}
