.footer-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #6031ba;
  z-index: 98;
  display: flex;
  align-items: center;

  button {
    border: 1px solid #FFFFFF;
    border-radius: 89px;
    padding: 0 40px;
    height: 40px;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
  }

  a {
    border: 1px solid #FFFFFF;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 22px;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    padding-top: 8px;
    margin-left: 5px;
  }
}
