@keyframes dash {
  0%  {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: #fff;
    stroke-width: 1;
    fill: transparent;
  }

  90% {
    stroke-dashoffset: 0;
  }

  100% {
    fill: #fff;
  }
}


.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: RGBA(96, 49, 186, 0);
  padding: 40px 0;
  z-index: 999;
  transition: all .7s;

  @media #{$s} {
    padding: 20px 0;
    text-align: center;
  }

  &--scrolling {
    background: RGBA(96, 49, 186, 1);
    color: #fff !important;

    .app-header__phone, .app-header__chat {
      g {
        fill: #fff;
      }
    }

    .logo {
      path {
        animation: dash 4s;
      }
    }

    ul {
      li {
        a {
          color: #fff !important;
        }
      }
    }

    .header__widget {
      a {
        color: #fff !important;
      }
    }

  }

  img {
    float: left;
  }

  ul {
    float: right;
    margin: 0;
    padding: 3px 0 0 0;

    @media #{$s} {
      display: none;
    }

    li {
      display: inline-block;
	    margin: 0 10px;

      a {
        color: #6031BA;
        display: block;
        font-family: 'Aktiv Grotesk Medium';
        display: block;
        transition: all 500ms;
      }
    }
  }

  .current_page_item {
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
  }

  .header__widget {
    float: right;

    @media #{$s} {
      display: none;
    }
  }



}
