// Responsive Breakpoints
$xl: "(min-width: 1200px)";
/* Portrait tablets and medium desktops */
$l: "(min-width: 992px) and (max-width: 1199px)";
/* Portrait tablets and small desktops */
$m: "(min-width: 768px) and (max-width: 991px)";
/* Landscape phones and portrait tablets */
$s: "(max-width: 767px)";
/* Landscape phones and smaller */
$xs: "(max-width: 369px)";

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Aktiv Grotesk';
  font-size: 15px;
  margin: 0;
  padding: 0 0 100px 0;

  @media #{$s} {
    font-size: 13px;
  }

}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family:  'Gotham Rounded Book';
}

h3 {
  font-family:  'Gotham Rounded Medium';
}

a {
  text-decoration: none;
  font-size: 1rem;
}

input, input:focus, select, textarea {
  outline: none;
}

input, select,textarea {
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  font-size: 1rem;
}

input, select {
  height: 35px;
}

.form-group {
  margin-bottom: 20px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

li {
  list-style: none;
}

.btn {
  background: #fff;
  border-radius: 100px;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 20 / 15 * 1rem;
  padding: 12px 0;
  text-align: center;
  font-family:  'Gotham Rounded Medium';

  &--outline {
    background: transparent;
    border: 2px solid #fff;
  }

}


.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

.input-error {
  color: #fff;
  padding: 10px 0 0 0;
  font-size: .9rem;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    display: inline-block;
    max-width: 100%;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    font-size: 11 / 15 * 1rem;
  }

  input[type=checkbox] {
    position: absolute;
    margin-top: -11px;
    margin-left: -20px;
    width: 15px;
  }

}

@import 'header';
@import 'slider';
@import 'quo_fixed';
@import 'contact';
@import 'posts_slider';
@import 'image_hover';
