@import 'normalize';

// Responsive Breakpoints
$xl: "(min-width: 1200px)";
/* Portrait tablets and medium desktops */
$l: "(min-width: 992px) and (max-width: 1199px)";
/* Portrait tablets and small desktops */
$m: "(min-width: 768px) and (max-width: 991px)";
/* Landscape phones and portrait tablets */
$s: "(max-width: 767px)";
/* Landscape phones and smaller */
$xs: "(max-width: 369px)";

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Aktiv Grotesk Light';
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 100px 0;
  background: #F9F9FB;
  @media #{$s} {
    font-size: 13px;
    line-height: 18px;
  }

}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
  font-family:  'Gotham Rounded Book';
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 50px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 42px;
  font-family:  'Aktiv Grotesk Medium';
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  font-family:  'Gotham Rounded Medium';
  letter-spacing: 2px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Gotham Rounded Medium';
  letter-spacing: 2px;
}

h6 {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 19px;
  font-family: 'Aktiv Grotesk';
}

p {
  font-family: 'Aktiv Grotesk Light'
}

a {
  text-decoration: none;
  font-size: 14px;
}

input, input:focus, select, textarea {
  outline: none;
}

input, select,textarea {
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  font-size: 15px;
  font-family: 'Aktiv Grotesk';
}

input, select {
  height: 35px;
}

.form-group {
  margin-bottom: 20px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

li {
  list-style: none;
}

.btn {
  background: #fff;
  border-radius: 100px;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  padding: 15px;
  text-align: center;
  font-family:  'Gotham Rounded Medium';
  letter-spacing: 2px;
  color: #fff;

  &--outline {
    background: transparent;
    border: 2px solid #fff;
  }

}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

.input-error {
  color: #fff;
  padding: 10px 0 0 0;
  font-size: .9rem;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    display: inline-block;
    max-width: 100%;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    font-size: 11 / 15 * 1rem;
  }

  input[type=checkbox] {
    position: absolute;
    margin-top: -11px;
    margin-left: -20px;
    width: 15px;
  }

}

.footer-fixed_mobile {
  position: fixed;
  bottom: 0;
  height: 70px;
  background: #6031BD;
  display: none;
  width: 100%;
  z-index: 999;
  color: #fff;

  a {
    color: #fff;
  }

  padding: 20px;
  @media #{$s} {
    display: block;
  }

}

.radius-100 {
  border-radius: 100px;
}

.radius-left-100 {
  border-radius: 100px 0 0 0;
}

.radius-right-100 {
  border-radius: 0 100px 0 0;
}

.radius-bottom-left-100 {
  border-radius: 0 0 0 100px;
}

.radius-bottom-right-100 {
  border-radius: 0 0 100px 0;
}

@import 'animations';
@import 'header';
@import 'slider';
@import 'quo_fixed';
@import 'contact';
@import 'posts_slider';
@import 'image_hover';
