
.ra-vertical-center {
  display: flex;
  align-items: center;
}

.ra-full-height {
  height: 100%;
}

.ra-remove-vertical-center {
  @media #{$s} {
    display: block;
    align-items: baseline;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &__viewport {
    overflow: hidden;
    will-change: transform;
    transition: transform 700ms
  }

  &__btns {
    margin: 0;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      margin: auto;
      z-index: 90;
      font-family:  'Gotham Rounded Medium';
    }
  }

  &__content {

    &__title {
      font-size: 2.7em;
      line-height: 150%;
      color: #6031ba;
      padding: 40px 0;
    }

    &__btn {
      display: inline-block;
      height: 60px;
      border-radius: 90px;
      background-color: #6031ba;
      padding: 18px 40px;
      letter-spacing: 1.5px;
      font-size: 1.333rem;
      color: #fff;
    }
  }

  &__slide {
    &__content {
       max-width: 500px;
       position: absolute;
       z-index: 998;

       @media #{$s} {
         margin-top: 20%;
         text-align: center;
       }
    }
    &--active {
      // .slider__slide__model {
      //   animation: slideModel 2s;
      // }
      //
      // .slider__slide__object {
      //   animation: slideObject 3s;
      // }
      //
      // .slider__slide__content {
      //   animation: slideContent 1s;
      // }
    }
  }

}

.slider__btns .slider__btns__left {
  left: 40px;
  font-size: 25px;
  @media #{$s} {
    left: 10px;
  }
}

.slider__btns .slider__btns__right {
  right: 40px;
  font-size: 25px;

  @media #{$s} {
    right: 10px;
  }
}
