@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('aktiv-grotesk-regular-58f63bc25b09c.eot'); /* IE9 Compat Modes */
  src: url('aktiv-grotesk-regular-58f63bc25b09c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('aktiv-grotesk-regular-58f63bc25b09c.woff') format('woff'), /* Modern Browsers */
       url('aktiv-grotesk-regular-58f63bc25b09c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('aktiv-grotesk-regular-58f63bc25b09c.svg#b0b112c59304ea7449fc42f85bb77fe7') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
