@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('aktiv-grotesk-bold-58f63ba8da4c5.eot'); /* IE9 Compat Modes */
  src: url('aktiv-grotesk-bold-58f63ba8da4c5.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('aktiv-grotesk-bold-58f63ba8da4c5.woff') format('woff'), /* Modern Browsers */
       url('aktiv-grotesk-bold-58f63ba8da4c5.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('aktiv-grotesk-bold-58f63ba8da4c5.svg#66c2ad7a9a6bee49ff6d62383e091c09') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Aktiv Grotesk Medium';
  src: url('aktiv-grotesk-medium-58f63cd6968cf.eot'); /* IE9 Compat Modes */
  src: url('aktiv-grotesk-medium-58f63cd6968cf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('aktiv-grotesk-medium-58f63cd6968cf.woff') format('woff'), /* Modern Browsers */
       url('aktiv-grotesk-medium-58f63cd6968cf.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('aktiv-grotesk-medium-58f63cd6968cf.svg#e4031bd641b08cfc62336bf93d11334d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('aktiv-grotesk-regular-58f63bc25b09c.eot'); /* IE9 Compat Modes */
  src: url('aktiv-grotesk-regular-58f63bc25b09c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('aktiv-grotesk-regular-58f63bc25b09c.woff') format('woff'), /* Modern Browsers */
       url('aktiv-grotesk-regular-58f63bc25b09c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('aktiv-grotesk-regular-58f63bc25b09c.svg#b0b112c59304ea7449fc42f85bb77fe7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

